%clearfix {
  &:after {
    content: ’;
    display: table;
    clear: both;
  }
}

%message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.error {
  @extend %message;
  border-color: red;
}
